// Custom transforms for content blocks such as centered text and uppercased main headers
.content {
  > h1, h2 {
    text-transform: uppercase;
    font-weight: bold;
  }

  .factLink > p > a,
  > p > a {
    transition: all .3s ease-in-out;
    color: #000066 !important;
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: normal;

    &:hover {
      color: #FFD21E !important;
    }
  }
}

.titleContent {
  text-align: center;
  align: center;
  color: #fff838;
}

.textCenter {
  text-align: center;
}

.mainTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.subTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff838;  
}

// Custom styling so that the six elements will render into two columns on larger screens only
.columnCluster {
  display: flex;
  flex-flow: row wrap;

  div {
    display: inline-block;
    width: 100%;
    padding: 25px 10px;
    @media (min-width: 769px) {
	    width: 50%;
	  }

    > h2 > a {
      color: #000066 !important;
    }
  }
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.leftBorder {
  @media (min-width: 769px) {
	  border-left: 3px solid rgba(0, 0, 0, 0.2);
    padding-left: 20px;
  }
}

.buttonLink {
  > p > a {
    transition: all .3s ease-in-out;
    background-color: transparent;
    color: #3f3f3f !important;
    border: 2px solid transparent;
    border: 2px solid #3f3f3f;
    padding: 14px 31px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    word-wrap: break-word;

    &:hover {
      background-color: #3f3f3f;
      color: #ffffff !important;
      border: 2px solid #3f3f3f;
    }
  }

  > p {
    margin-top: 35px;
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.leftNav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2.5%;
  z-index: 2;
  color: #363636;
  @media (max-width: 770px) {
	  display: none;
  }
}

.rightNav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5%;
  z-index: 2;
  color: #363636;
  @media (max-width: 770px) {
	  display: none;
  }
}

// Transparent gradient overlay of image :D
.landingHero {
  background-image: url('./idiciaLandingImage.jpeg');
  background-image: url('./idiciaLandingImage.jpeg');
  background-size: contain;
  background-size: 100%;
}

//ScrollTOButton
.btn {
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: Blue;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

