// Custom transforms for content blocks such as centered text and uppercased main headers
.content {
  > h1,
  h2 {
    text-transform: uppercase;
    font-weight: bold;
  }

  .factLink > p > a,
  > p > a {
    transition: all 0.3s ease-in-out;
    color: #000066 !important;
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: normal;

    &:hover {
      color: #ffd21e !important;
    }
  }
}

.titleContent {
  text-align: center;
  background-color: rgba(61, 61, 138, 0.8);
  border-radius: 5px;
}

.textCenter {
  text-align: center;
}

.mainTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff838;
}

.subTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff838;
}

// Custom styling so that the six elements will render into two columns on larger screens only
.columnCluster {
  display: flex;
  flex-flow: row wrap;

  div {
    display: inline-block;
    width: 100%;
    padding: 25px 10px;
    @media (min-width: 769px) {
      width: 50%;
    }

    > h2 > a {
      color: #000066 !important;
    }
  }
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.leftBorder {
  @media (min-width: 769px) {
    border-left: 3px solid rgba(0, 0, 0, 0.2);
    padding-left: 20px;
  }
}

.buttonLink {
  > p > a {
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    color: #3f3f3f !important;
    border: 2px solid transparent;
    border: 2px solid #3f3f3f;
    padding: 14px 31px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    word-wrap: break-word;

    &:hover {
      background-color: #3f3f3f;
      color: #ffffff !important;
      border: 2px solid #3f3f3f;
    }
  }

  > p {
    margin-top: 35px;
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.leftNav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2.5%;
  z-index: 2;
  color: #363636;
  @media (max-width: 770px) {
    display: none;
  }
}

.rightNav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5%;
  z-index: 2;
  color: #363636;
  @media (max-width: 770px) {
    display: none;
  }
}

// Transparent gradient overlay of image :D
.landingHero {
  background-image: url('http://res.cloudinary.com/dyjo5a3ci/image/upload/v1514087385/idicia/idiciaLandingImage.jpg');
  background-image: url('http://res.cloudinary.com/dyjo5a3ci/image/upload/v1514087385/idicia/idiciaLandingImage.jpg');
  background-size: cover;
}

//ScrollTOButton
.btn {
  position: relative;

  display: block;
  margin: 30px auto;
  width: 30%;
  min-width: 300px;
  height: 40px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #3d3d8a;
  color: #fff838;

  transition: background-color 0.3s;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #3939b9;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}
