.cardAvatar{
  border:1px solid black;
  border-radius:50%;
  overflow: hidden;
  background-color: #000066;
}
.paddingLeft {
  padding-left: 2rem;
}
.title{
  padding-bottom: 0.25rem;
}
.bottomMargin {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid black;
}

.learnMore {
  color: #0000EE;
}
