.aboutHero {
  background-image: -webkit-linear-gradient(141deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 71%, rgba(0, 0, 0, 0.3) 100%),-webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('http://res.cloudinary.com/dyjo5a3ci/image/upload/v1514087320/idicia/about-us.png');
  background-image: linear-gradient(141deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 71%, rgba(0, 0, 0, 0.3) 100%),linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('http://res.cloudinary.com/dyjo5a3ci/image/upload/v1514087320/idicia/about-us.png');
  background-size: cover;
}

.aboutContentStrip {
  background-color: rgba(200, 200, 200, 0.33);
  padding: 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header2 {
  margin-top: 5rem;
}

.section2 {
  padding: 2rem 0;
}

.memberPhoto {
  padding: 1rem;
  img {
    min-height: 100%;
  }
}

iframe{
  margin-top: 23px;
}