.bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.transparent {
  background: transparent;
}

.dropdownMain {
  color: white !important;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
