.footerBody {
  padding-top: 20px;
}

.hr {
  width: 8rem;
  margin: 1.85rem auto;
  background: #FFD21E;
  text-align: right;
}

.hrRight {
  composes: hr;

  margin-right: 0;
}

.hrLeft {
  composes: hr;

  margin-left: 0;
}

.darkTextFix {
  color: white !important;

  h3 {
    color: #FFD21E;
  }

  a {
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;

    &:hover {
      color: #FFD21E !important;
    }
  }
}

.info {
  color: #FFD21E;
  background: #363636;
}

.footerLogo {
  //margin: 0 auto 3rem auto;
  padding-top: 10px;
}

.creditFooter {
  padding-top: 3rem;
}

.contactEmailAndPhone {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #dbdbdb;
  color: #FFD21E;
  padding: 0.25em 0.5em;
}
