.footerBody {
  padding-top: 20px;
}

<<<<<<< HEAD
.footerColumn3 {
  composes: footerColumn;
  height: 80%;
}

.hr {
  width: 5rem;
  margin: 1.5rem auto;
=======
.hr {
  width: 8rem;
  margin: 1.85rem auto;
  background: #FFD21E;
  text-align: right;
}

.hrRight {
  composes: hr;

  margin-right: 0;
}

.hrLeft {
  composes: hr;

  margin-left: 0;
>>>>>>> footer
}

.darkTextFix {
  color: white !important;

  h3 {
    color: #FFD21E;
  }

  a {
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;

    &:hover {
      color: #FFD21E !important;
    }
  }
}

.info {
  color: #FFD21E;
}

.footerLogo {
  margin: 0 auto 3rem auto;
}

.creditFooter {
  padding-top: 3rem;
}

.contactEmailAndPhone {
  display: flex;
  justify-content: space-between;
<<<<<<< HEAD
  flex-flow: row wrap;
  flex: 1;
=======

  border-bottom: 1px solid #dbdbdb;
  color: #FFD21E;
  padding: 0.25em 0.5em;
>>>>>>> footer
}
